<mat-card>
  <mat-form-field>
    <mat-select [(ngModel)]="selectedCourse" placeholder="Select a Course!" (selectionChange)="courseData($event.value)">
      <mat-option [value]="'undefined'">Course List</mat-option>
      <mat-option *ngFor="let course of courses$" [value]="course.id">
        {{ course.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="selectedCourse">
      <mat-select placeholder="Select a Tee!" (selectionChange)="teeData($event.value)">
        <mat-option [value]="'undefined'">Tee List</mat-option>
        <mat-option *ngFor="let tee of teeBoxes" [value]="tee.teeTypeId">
          {{ tee.teeType }}
        </mat-option>
      </mat-select>
  </mat-form-field>
</mat-card>
