<table mat-table>
  <ng-container>
    <th mat-header-cell> Name </th>
    <td mat-cell> 1 </td>
    <td mat-cell> 2 </td>
    <td mat-cell> 3 </td>
    <td mat-cell> 4 </td>
    <td mat-cell> 5 </td>
    <td mat-cell> 6 </td>
    <td mat-cell> 7 </td>
    <td mat-cell> 8 </td>
    <td mat-cell> 9 </td>
    <td mat-cell> Out </td>
    <td mat-cell> 10 </td>
    <td mat-cell> 11 </td>
    <td mat-cell> 12 </td>
    <td mat-cell> 13 </td>
    <td mat-cell> 14 </td>
    <td mat-cell> 15 </td>
    <td mat-cell> 16 </td>
    <td mat-cell> 17 </td>
    <td mat-cell> 18 </td>
    <td mat-cell> In </td>
    <td mat-cell> Total </td>
  </ng-container>
  <tr *ngFor="let player of players">{{ player }}</tr>
</table>
